{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Partson Manyika" />
    <meta name="description" content="Professional full stack developer" />
    <meta name="keywords" content="web design, web development, python" />
    <title>Partson Manyika</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Core Style Sheets -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
    <!-- Responsive Style Sheets -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Revolution Style Sheets -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/settings.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/layers.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/navigation.css' %}"
    />
    <style>
    .btn {
    border-radius: 30px;
    color: #fff;
    outline: medium none !important;
    padding: 15px 27px;
    text-transform: capitalize;
    font-size: 15px;
    }
    input, textarea {
      border-radius: 30px;
      color: #000;
    }
    </style>
  </head>
  <body>
    <!--== Loader Start ==-->
    <div id="loader-overlay">
      <div class="loader">
        <div class="spinner-double-dot-in"></div>
      </div>
    </div>
    <!--== Loader End ==-->

    <!--== Wrapper Start ==-->
    <div class="wrapper">
      <!--== Header Start ==-->
      <nav
        class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full no-border"
      >
        <!--== Start Top Search ==-->
        <div class="fullscreen-search-overlay" id="search-overlay">
          <a href="#" class="fullscreen-close" id="fullscreen-close-button"
            ><i class="icofont icofont-close"></i
          ></a>
          <div id="fullscreen-search-wrapper">
            <form method="get" id="fullscreen-searchform">
              <input
                type="text"
                value=""
                placeholder="Type and hit Enter..."
                id="fullscreen-search-input"
                class="search-bar-top"
              />
              <i class="fullscreen-search-icon icofont icofont-search">
                <input value="" type="submit" />
              </i>
            </form>
          </div>
        </div>
        <!--== End Top Search ==-->
        <div class="container">
          <!--== Start Atribute Navigation ==-->
          <div class="attr-nav hidden-xs sm-display-none">
            <ul class="social-media-dark social-top">
              <li>
                <a
                  href="https://www.linkedin.com/in/partson-manyika-61885319a/"
                  class="fa fa-instagram"
                ></a>
              </li>
              <li>
                <a href="https://github.com/mcmanyika" class="fa fa-github"></a>
              </li>
            </ul>
          </div>
          <!--== End Atribute Navigation ==-->

          <!--== Start Header Navigation ==-->
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#navbar-menu"
            >
              <i class="tr-icon ion-android-menu"></i>
            </button>
            <div class="logo">
              <a href="index.html"
                ><img
                  class="logo logo-display"
                  src="assets/images/logo-studio-white.png"
                  alt=""
                />
                <img
                  class="logo logo-scrolled"
                  src="assets/images/logo-studio-black.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <!--== End Header Navigation ==-->

          <!--== Collect the nav links, forms, and other content for toggling ==-->
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul
              class="nav navbar-nav navbar-center"
              data-in="fadeIn"
              data-out="fadeOut"
            >
              {% for rw in urls %}
              <li><a href="{{rw.url}}" class="page-scroll">{{rw.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <!--== /.navbar-collapse ==-->
        </div>
      </nav>
      <!--== Header End ==-->

      <!--== Parallax Slide 01 Start ==-->
      <section
        class="fixed-bg remove-padding"
        style="
          background-image: url({% static 'image/5a.jpg' %});
          background-repeat: no-repeat;
          background-size: 100%;
        "
        id="home"
        data-stellar-background-ratio="0.2"
      >
        <div class="container relative view-height-100vh">
          <div class="simple-content-slider text-center">
            <div class="simple-content-slider-text">
              <div class="simple-content-text-inner">
                <div class="row">
                  <div class="col-md-7">
                    <div class="text-center all-padding-40 white-color">
                      <h1
                        class="font-60px line-height-60 raleway-font mt-0 xs-font-30px"
                      >
                        <span class="font-100">Creative</span> Solutions
                      </h1>
                      <h5
                        class="text-uppercase letter-spacing-5 line-height-30"
                      >
                        Turning Concepts into working THINGs
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--== Parallax Slide 01 End ==-->

      <!--== About Company Start ==-->
      <div class="grey-bg pt-0 pb-0 about-section" id="skills">
        <div class="col-md-6 col-sm-6 bg-flex bg-flex-left">
          <div
            class="bg-flex-holder bg-flex-cover"
            style="background-image: url({% static 'image/2a.jpg' %})"
          ></div>
        </div>
        <div class="container-fluid">
          <div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6">
            <div
              class="col-inner spacer text-left wow fadeInLeft"
              data-wow-delay="0.1s"
            >
              <div class="mission-section">
                <h2 class="raleway-font">
                  <span class="font-100">About</span> Partson
                </h2>
                <hr class="left-line dark-bg" />
                <p>
                  I have full-stack web developer experience working with Django CMS and
                  professionally connected to web development industry for 10
                  plus years.
                </p>
                <p>
                  I am inspired by creating great work with people who are as
                  passionate as I am about developing and building awesome
                  solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--== About Company End ==-->

      <!--== Who We Are Start ==-->
      <div class="primary-bg pt-0 pb-0 about-section">
        <div class="col-md-6 col-sm-6 bg-flex bg-flex-right">
          <div
            class="bg-flex-holder bg-flex-cover"
            style="background-image: url({% static 'image/office.png' %})"
          ></div>
        </div>
        <div class="container-fluid">
          <div class="col-md-6 col-sm-6">
            <div
              class="col-inner spacer text-left wow fadeInRight"
              data-wow-delay="0.2s"
            >
              <div class="mission-section">
                <h2 class="raleway-font white-color">
                  <span class="font-100">Skills</span> & Experience
                </h2>
                <hr class="left-line white-bg" />
                {% for rw in dictionary %}
                <p class="mt-30 col-md-3">
                  <a class="btn btn-lg btn-light-outline btn-square btn-zoom"
                    >{{rw.name}}</a>
                </p>
                {% endfor %}
                <p class="mt-30">&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--== Who We Are End ==-->

      <!--== Portfolio Start ==-->
      <!--  <section class="grey-bg pb-0" id="work">
        <div class="container">
          <div class="row">
            <div class="col-md-8 centerize-col text-center">
              <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="raleway-font">
                  <span class="font-100">My</span> Portifolio
                </h1>
                <hr class="center_line dark-bg" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div
                id="portfolio-gallery-filter"
                class="cbp-l-filters-alignCenter corporate text-sm-center mt-50"
              >
                <div
                  data-filter="*"
                  class="cbp-filter-item-active cbp-filter-item dark"
                >
                  All
                </div>
                <div data-filter=".branding" class="cbp-filter-item">
                  Branding
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                  Web Design
                </div>
                <div data-filter=".advertising" class="cbp-filter-item">
                  Advertising
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid remove-padding">
          <div class="row mt-50">
            <div class="col-md-12">
              <div id="portfolio-gallery" class="cbp">
                <div class="cbp-item branding col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/1.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">
                          <a
                            class="popup-youtube"
                            href="https://www.youtube.com/watch?v=sU3FkzUKHXU"
                            >Project Name 1</a
                          >
                        </h3>
                        <h6 class="links">Branding, Website</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-item branding web-design col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/2.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">Project Name 2</h3>
                        <h6 class="links">UI/UX, Website</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-item web-design branding col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/3.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">Project Name 3</h3>
                        <h6 class="links">Print, Website</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-item web-design advertising col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/4.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">Project Name 4</h3>
                        <h6 class="links">Advertising, Website</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-item photography col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/5.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">Project Name 5</h3>
                        <h6 class="links">Photography</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-item web-design col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/6.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">Project Name 6</h3>
                        <h6 class="links">Website</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-item photography advertising col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/7.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">Project Name 7</h3>
                        <h6 class="links">Photography, Advertising</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-item web-design col-md-3 col-sm-3">
                  <div class="portfolio gallery-image-hover text-center">
                    <div class="folio-overlay"></div>
                    <img src="{% static 'image/8.jpg' %}" alt="" />
                    <div class="portfolio-wrap">
                      <div class="portfolio-description">
                        <h3 class="portfolio-title mt-0">Project Name 8</h3>
                        <h6 class="links">Web Design</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!--== Portfolio End ==-->
      <!--== Parallax Slide 02 Start ==-->
      <section
        class="fixed-bg remove-padding"
        style="
          background-image: url({% static 'image/parallax-bg-slide-02.jpg' %});
        "
        id="creative"
        data-stellar-background-ratio="0.2"
      >
        <div class="container relative view-height-100vh" id="creative">
          <div class="simple-content-slider text-center">
            <div class="simple-content-slider-text">
              <div class="simple-content-text-inner">
                <div class="row">
                  <div class="col-md-offset-5">
                    <div class="text-center all-padding-40 dark-color">
                      <h1
                        class="font-60px line-height-60 raleway-font mt-0 xs-font-30px"
                      >
                        <span class="font-100">Full Stack</span> Developing
                      </h1>
                      <h5
                        class="text-uppercase letter-spacing-5 line-height-30"
                      >
                        Complete, Clean, total web solutions.
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--== Parallax Slide 02 End ==-->
      <!--== Call to Actions Start ==-->
      <section
        class="parallax-bg fixed-bg sm-pb-80 sm-pt-80"
        data-parallax-bg-image="{% static 'image/bottom.jpg' %}"
        data-parallax-speed="0.5"
        data-parallax-direction="up"
      >
        <div class="overlay-bg"></div>
        <div class="container">
          <div class="row">
            <div
              class="col-lg-10 col-md-12 col-sm-12 col-xs-12 centerize-col text-center"
            >
              <h5
                class="font-50px white-color font-800 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <span class="font-100">Get In Touch</span> 
              </h5>
              <hr
                class="center_line primary-bg wow fadeInUp"
                data-wow-delay="0.2s"
              />
              <h5
                class="mb-30 font-30px white-color font-400 wow fadeInUp"
                data-wow-delay="0.3s"
              >
              <form method="post" name="form" action="" enctype="multipart/form-data">{% csrf_token %}
                <div class="col-md-4">
                  {{form.name}}
                </div>
                <div class="col-md-4">
                  {{form.email}}
                </div>
                <div class="col-md-4">
                  {{form.subject}}
                </div>
                <div class="col-md-12">
                  <textarea name="message" rows="4" placeholder="Message"></textarea>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-warning">
                    Send Message
                  </button>
                </div>
              </form>  
              </h5>
            </div>
          </div>
        </div>
      </section>
      <!--== Call to Actions End ==-->

      <!--== Footer Start ==-->
      <footer class="footer" id="footer">
        <div class="footer-copyright">
          <div class="container">
            <div class="row wow fadeInUp" data-wow-delay="0.1s">
              <div class="col-md-8 centerize-col text-center">
                <div class="copy-right">
                  © 2020 <span class="white-color"> Partson Manyika.</span> All
                  rights reserved
                </div>
                <ul class="social-media mt-30 float-none">
                  <li>
                    <a
                      href="https://www.linkedin.com/in/partson-manyika-61885319a/"
                      class="fa fa-instagram"
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://github.com/mcmanyika"
                      class="fa fa-github"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--== Footer End ==-->

      <!--== Go to Top  ==-->
      <a href="javascript:" id="return-to-top"
        ><i class="fa fa-angle-up"></i
      ></a>
      <!--== Go to Top End ==-->
    </div>
    <!--== Wrapper End ==-->

    <!--== Javascript Plugins ==-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/master.js' %}"></script>

    <!-- Revolution js Files -->
    <script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.video.min.js' %}"></script>
    <!--== Javascript Plugins End ==-->
  </body>
</html>
